body {
  background: #e0f2f1;
  font-family: 'Lato', sans-serif;

}

.contenedor {
  margin: 0 auto;
  width: 600px;
}

.transicion{
  /*Detallado:
  transition-duration: .3s;
  transition-property: opacity;
  transition-timing-function: ease;*/

  /*Resumido
  transition: .3s opacity ease;*/

   /*Afecta todas las propiedades con ease*/
  transition: .3s;
}

.caja {
  width: 200px;
  height: 200px;
  border: 1px solid #00695c;
}

.opacity {
  opacity: 0;
}

.opacity:hover {
  opacity: 1;
}

.fuente:hover {
  font-size: 20px;
  font-weight: 600;
}

.colores:hover {
  color: #ec407a;
  background: #3f51b5;
}
